* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: var(--main-font);
  overflow-x: hidden;
  background-color: rgb(230, 230, 230);
  padding: 0;
  
  /* border: dotted; */
}

#login_btn,
#view_btn {
  background-color: var(--acent-color)!important;
  color: white;
  padding: 0.4rem 1.8rem;
  font-family: calibri;
  align-self: center;
  border-radius: 5rem;
}
#view_btn:hover{
  color:black;
}

.registro-button{
  border-radius: 5rem;
  border: none;
  max-width: 200px;
  width: 100%;
  cursor: pointer;
  font-size: var(--normal);
  /* height: 40px;
  margin-top: 14px;
  margin-bottom: 30px; */
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.registro-button::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: var(--main-color);
  z-index: -1;
  transition: 0.8s;
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.registro-button:hover::before{
  height: 180%;
}

.footer-brand{
  margin-top: 1rem;
  font-family: var(--logo-font);
  font-size: 1rem;
  color: rgb(147, 147, 147);
  text-align: center;
}

.footer-brand span{
  color: #000;
  font-size: 1.5rem;
}

/* MOBILE */
.grid-container {
  display: grid;
  height: 100vh;
  align-content: space-between;
  grid-template: 
    'header-perfil' auto
    'header'auto/
    100%
  ;

  /* border: dotted; */
}
/* MOBILE */


/* Alert */
#__react-alert__ div div div {
  width: auto !important;
  border-radius: 5rem !important;
  /* background-color: var(--acent-color)!important; */
  padding: 0.5rem 1.8rem !important;
  font-family: var(--logo-font) !important;
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.43) !important;
  color: var(--main-color) !important;
}
/* Alert */


/* TABLET */
@media all and (min-width: 768px) {
  .header-perfil {
    display: none;
  }
  .grid-container {
    display: grid;
    height: 100vh;
    align-content: space-between;
    grid-template: 
    'header' auto
    'home' auto
    'footer'auto/
    auto;

    /* border: dotted red; */
  }
}

/* TABLET */