.home-container {
  width: 100%;
  padding: 2rem 4rem;
}

.card-container {
  margin: 1rem 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(13rem, .9fr));
  gap: 2rem;
}
.cards {
  width: auto;
  height: auto;
  /* border: solid .5px rgb(205, 205, 205); */
  border-radius: 1rem;

  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.43);
}
.card-img img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
  object-position: top;
  border-radius: 1rem 1rem 0 0;
}
.card-body {
  text-align: center;
  padding: .5rem;
}